<aside
  x-data="{open: false}"
  @request-drawer-open.window="open=true;"
  @request-drawer-close.window="open=false;"
  :class="{opened: open}"
  class="fixed bottom-0 left-0 top-0 z-modal w-80 shrink-0 translate-x-full transform-gpu select-none overflow-clip rounded-e-2xl bg-surfaceContainerLow transition-transform duration-300 ease-in will-change-transform elevation-1 rtl:left-auto rtl:right-0 extended:static extended:translate-x-0 extended:rounded-none extended:will-change-auto [&.opened]:translate-x-0 [&.opened]:ease-out"
>
  <button
    class="absolute right-1 top-2 block cursor-pointer rounded-full p-3 text-[1.5rem] state-onSurface extended:invisible"
    @click="$dispatch('request-drawer-close')"
  >
    {% arIcon "close" %}
  </button>
  <nav class="flex h-full flex-col overflow-y-auto bg-surfaceContainerLow px-3 py-2 text-onSurfaceVariant elevation-2">
    <section x-data class="mt-4 text-center">
      <img
        src="/img/user-avatar.jpeg"
        class="mx-auto block h-20 w-20 rounded-full shadow"
        alt="عکس پروفایل علیرضا تفتی"
      />
      <h3 class="mt-4 text-ellipsis text-titleMedium">سید علیرضا تفتی</h3>
      <p class="text-ellipsis pt-1 text-bodyMedium">مشتری خوش حسابمون :)</p>
      <button
        @click="clearLocalStorage"
        class="mt-5 flex h-10 w-full cursor-pointer select-none items-center justify-center rounded-xl border border border-opacity-50 px-4 state-onSurfaceVariant hover:text-primary"
      >
        {% arIcon "logout", "text-[1.125rem]" %}
        <span class="px-2 text-labelLarge">خروج از حساب</span>
      </button>
    </section>

    <section
      class="mt-5 grow cursor-pointer select-none border-t border-opacity-50 pt-3 text-labelLarge"
    >
      <a
        href="/fa/"
        class="flex h-14 flex-nowrap items-center gap-3 rounded-full px-3 state-onSecondaryContainer hover:bg-secondaryContainer"
      >
        {% arIcon "home", "text-[1.5rem]" %}
        <div class="grow">صفحه اصلی</div>
      </a>

      <a
        href="/fa/"
        class="flex h-14 flex-nowrap items-center gap-3 rounded-full px-3 state-onSecondaryContainer hover:bg-secondaryContainer"
      >
        {% arIcon "checklist", "text-[1.5rem]" %}
        <div class="grow">تورهای قبلی :)</div>
      </a>

      <a
        href="/fa/"
        class="flex h-14 flex-nowrap items-center gap-3 rounded-full px-3 state-onSecondaryContainer hover:bg-secondaryContainer"
      >
        {% arIcon "grid-view", "text-[1.5rem]" %}
        <div class="grow">آفرهای روزانه</div>
      </a>

      <a
        href="/fa/"
        class="flex h-14 flex-nowrap items-center gap-3 rounded-full px-3 state-onSecondaryContainer hover:bg-secondaryContainer"
      >
        {% arIcon "groups", "text-[1.5rem]" %}
        <div class="grow">باشگاه مشتریان</div>
      </a>

      {# <a
        href="/fa/"
        class="flex h-14 flex-nowrap items-center gap-3 rounded-full px-3 state-onSecondaryContainer hover:bg-secondaryContainer"
      >
        {% arIcon "hardware-chip", "text-[1.5rem]" %}
        <div class="grow"></div>
      </a> #}

      <a
        href="/fa/"
        class="flex h-14 flex-nowrap items-center gap-3 rounded-full px-3 state-onSecondaryContainer hover:bg-secondaryContainer"
      >
        {% arIcon "favorite", "text-[1.5rem]" %}
        <div class="grow">موردعلاقه‌ی شما</div>
      </a>

      <a
        href="/fa/"
        class="flex h-14 flex-nowrap items-center gap-3 rounded-full px-3 state-onSecondaryContainer hover:bg-secondaryContainer"
      >
        {% arIcon "support-agent", "text-[1.5rem]" %}
        <div class="grow">پشتیبانی</div>
      </a>

      <a
        href="tel:+989158064859"
        class="flex h-14 flex-nowrap items-center gap-3 rounded-full px-3 state-onSecondaryContainer hover:bg-secondaryContainer"
      >
        {% arIcon "call", "text-[1.5rem]" %}
        <div class="grow">تماس با ما</div>
      </a>
    </section>
    <div class="m-2 text-center text-labelSmall opacity-50">
      Soffit Order v2.0.0-beta+{{ git.shortSha }}
    </div>
  </nav>
</aside>

<div
  x-data="{ open: false }"
  @request-drawer-open.window="open=true;"
  @request-drawer-close.window="open=false;"
  :class="{opened: open}"
  @click="$dispatch('request-drawer-close')"
  class="pointer-events-none fixed bottom-0 left-0 right-0 top-0 z-scrim bg-scrim opacity-0 transition-opacity will-change-[opacity] extended:hidden [&.opened]:pointer-events-auto [&.opened]:opacity-50"
></div>
