<header
  x-data
  class="absolute left-0 right-0 top-0 z-fixed flex h-16 shrink-0 grow-0 select-none items-center bg-surfaceContainer px-1 shadow translucent"
>
  <button
    class="block cursor-pointer rounded-full p-3 text-[1.5rem] state-onSurface extended:invisible"
    @click="$dispatch('request-drawer-open')"
  >
    {% arIcon "menu" %}
  </button>

  <div class="lead grow overflow-clip whitespace-nowrap px-1 text-center text-titleLarge text-onSurface">
    تور
  </div>

  <button class="block cursor-pointer rounded-full p-3 text-[1.5rem] state-onSurfaceVariant">
    {% arIcon "account-circle" %}
  </button>
</header>
