<header 
  x-data
  class="absolute top-0 right-0 left-0 z-50 flex h-16 flex-shrink-0 flex-grow-0 select-none items-center px-1 shadow bg-gray-600"
>  {# translucent and background-primary #}

  <button
    class="block cursor-pointer rounded-full p-3 text-[1.5rem]"
  > {# state-onSurface extended:invisible && @click="$dispatch('request-drawer-open')" #}
    {% arIcon "menu" %}
  </button>

  <div class="flex-grow text-center overflow-clip whitespace-nowrap px-1 "> {# text-start text-titleLarge text-onSurface #}
    Product
  </div>

  <a href="" class="block cursor-pointer rounded-full p-3 text-[1.5rem] "> {# state-onSurfaceVariant #}
    {% arIcon "account-circle" %}
  </a>
</header>
