---
title: خانه
---
<div class="grow overflow-y-scroll">
  <a>
    <div class="mt-20 mx-8 py-20 text-center bg-black bg-cover rounded-xl text-[32px] bg-[url('/img/night.jpg')]">
      <span class="text-white">تورهای شبانه</span>
    </div>
  </a>
  <a>
    <div class="my-4 mx-8 py-20 text-center bg-black bg-cover rounded-xl text-[32px] bg-[url('/img/morning.png')]">
      <span class="text-white">تورهای روزانه</span>
    </div>
  </a>
  <a>
    <div class="my-4 mx-8 py-20 text-center bg-black bg-cover rounded-xl text-[32px] bg-[url('/img/beach.webp')]">
      <span class="text-white">تورهای بلندمدت</span>
    </div>
  </a>
</div>
